fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
pytesseract==0.3.13
numpy==1.26.4
pillow==10.4.0
fast-alpr[onnx]==0.4.0
onnxruntime==1.20.1
requests==2.32.3
